@media (max-width:800px) {
  .container {
    max-width: 690px;
  }
  .cards__container {
    max-width: 643px;
  }
  .cards__grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer-1 {
    display: none;
  }
  .footer-2 {
    display: block;
  }
}

@media (max-width:360px) {
  .container {
    max-width: 320px;
  }
  .header__online {
    display: none;
  }
  .header__end {
    display: none;
  }
  .burger {
    display: block;
  }
  #logo {
    margin: 66px 0 36px;
  }
  .burger__online {
    margin-bottom: 47px;
  }
  .cards__container {
    max-width: 304px;
  }
  .cards__grid {
    grid-template-columns: 1fr;
  }
  .footer-1 {
    display: block;
    height: 304px;
  }
  .footer-2 {
    display: none;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 33px 0 30px;
  }
  .footer__nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    height: 50%;
  }
}